.weatherForecastPage {
  border-radius: 1rem;
  box-shadow: 0 0 1rem #fff;
  height: 100%;
}

/* 現在地アイコン */
.forecast-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.forecast-top h3 {
  font-weight: normal;
  margin-left: 3rem;
  background-color: #ffffff6e;
  color: #000;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
}

/* 日の出アイコン */
.sun-icon {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.current-title {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  color: #fff;
  margin-top: 0.5rem;
}

/* 公式アイコン */
.forecast-top img {
  width: 5rem;
}

/* 天気メイン部分 */
.info {
  margin: 0 0.2rem;
  width: 100%;
  height: 87%;
}

.today-forecast {
  margin-bottom: 1rem;
  position: relative;
  height: 42%;
}

/* 現在の天気コンテナ */
.current-weather {
  height: 100%;
  width: 47%;
  padding: 0.2rem 0.5rem;
  text-align: center;
  background-color: #0243cfce;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #fff;
  position: absolute;
  top: 0;
  left: 51%;
  /* ↓ー53％がど真ん中 　－27％中間*/
  transform: translate(0, 0);
  z-index: -1;
}

/* 15時以降 */
.fifteen {
  transform: translate(-27%, 0);
}
/* 21時以降 */
.nineteen {
  transform: translate(-53%, 0);
}

.current-weather img {
  height: 4.4rem;
}
.current-weather th {
  font-weight: normal;
  font-size: small;
}

.current-weather td {
  font-weight: bold;
}

.current-info {
  display: flex;
}

/* 明日以降のボタン */
.forecast-title {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 0.5rem;
}

.forecast-title button {
  padding: 0.3rem;
  font-size: 1rem;
  margin: 0 0.5rem;
  border-radius: 1rem !important;
}

.css-d9c359-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  color: #000 !important;
  background-color: rgba(85, 145, 206, 0.685) !important;
}

/* 天気表示部分 */
.forecast-container {
  position: relative;
  display: flex;
}

.forecast-container p {
  height: 12%;
  font-size: 0.9rem;
}

.forecast-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-block {
  margin-right: 0.1rem;
  background-color: #45a7f7d0;
  width: 11.5%;
  height: 100%;
  text-align: center;
}

.description-row {
  height: 40%;
}

.widaycloudy {
  height: 42% !important;
  padding-top: 1rem;
}
