.weather-wrapper {
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #fff;
}

/* ＝＝＝上部＝＝＝ */
.weather-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-name {
  margin-top: 0.5rem;
  margin-left: 3rem;
  color: rgb(81, 79, 79);
  font-weight: bolder;
  background-color: #ffffffb2;
  padding: 0.5rem;
  border-radius: 2rem;
}

.today-title {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 日の出アイコン */
.sun-icon {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

/* 公式アイコン */
.weather-top img {
  width: 5rem;
}

/* ＝＝＝天気メイン＝＝＝ */
.forecast-wrapper {
  margin: 1rem 0.2rem 0.8rem;
  width: 99%;
  height: 86%;
}

.today-forecast {
  position: relative;
  height: 43%;
}

.afterday-forecast {
  height: 43%;
}

/* 明日以降のボタン */
.forecastBtn-container {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 0.5rem;
}

.forecastBtn-container button {
  padding: 0.3rem;
  font-size: 1rem;
  margin: 0 0.5rem;
  background-color: var(--light-opacity-color);
  border-radius: 1rem !important;
}

.forecastBtn-container button:hover {
  background-color: var(--light-opacity-color);
}

.css-d9c359-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  color: #000 !important;
  background-color: var(--medium-dark-opacity-color) !important;
}

/* ＝＝＝現在の天気コンテナ＝＝＝ */
.current-weather {
  height: 100%;
  width: 47%;
  padding: 0.2rem 0.5rem;
  text-align: center;
  background-color: var(--dark-opacity-color);
  border-radius: 1rem;
  box-shadow: 0 0 1rem #fff;
  position: absolute;
  top: 0;
  left: 51%;
  /* ↓ー53％がど真ん中 　－27％中間*/
  transform: translate(0, 0);
  z-index: -1;
}

/* 15時以降 */
.fifteen {
  transform: translate(-27%, 0);
}
/* 21時以降 */
.nineteen {
  transform: translate(-53%, 0);
}

.current-table {
  height: 86%;
  display: flex;
  justify-content: space-between;
}

.current-table img {
  width: 100%;
}

.current-table th {
  font-weight: normal;
  font-size: small;
}

.current-table td {
  font-weight: bold;
}

/* ＝＝＝上下共通の天気表示ブロック＝＝＝ */
.forecast-container {
  position: relative;
  display: flex;
  height: 100%;
}

.forecast-icon svg {
  font-size: 1.5rem;
}

.forecast-table {
  width: 12%;
  height: 100%;
  margin-right: 0.1rem;
  background-color: var(--medium-light-opacity-color);
  text-align: center;
  font-size: 0.9rem;
  border-radius: 0.5rem;
}
