.schedule-wrapper {
  position: relative;
  height: 89%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calender-body {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 0.5rem 0.5rem 0.5rem;
  transition-duration: 1s;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.5rem #000000;
}

/* 日曜 */
.fc-day-sun {
  color: #ff0f02;
}
/* 土曜 */
.fc-day-sat {
  color: #0501ff;
}

/* イベント表示設定 */
:root {
  --fc-event-text-color: #000;
}
.fc-event:hover {
  cursor: pointer;
}

/* fullCalender埋め込み　上部バー */
.fc .fc-toolbar.fc-header-toolbar {
  margin: 0;
  padding: 0.3rem;
  text-align: center;
}

.fc-toolbar-chunk {
  width: 22%;
}

.fc-toolbar-title {
  font-size: 1.3rem !important;
}

/* 上部ボタン */
.fc-button {
  border-radius: 50px !important;
}

/* カレンダーめくるボタン */
.fc-prev-button,
.fc-next-button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
  transform: none !important;
}
.fc-next-button {
  margin-left: 1.5rem !important;
}

/* 週表示ボタンとtodayボタン */
.fc-timeGridWeek-button,
.fc-today-button {
  margin-left: 0.5rem !important;
}

/* ここから細かいカラー */
.fc .fc-button-primary {
  background-color: var(--medium-light-opacity-color) !important;
  border: var(--medium-dark-opacity-color) solid 0.1rem !important;
  border-radius: 50%;
  transition-duration: 0.5s;
  box-shadow: 0 0.1rem #777777;
  transition-property: box-shadow;
}
.fc .fc-button-primary:hover {
  background-color: var(--dark-opacity-color) !important;
}

.fc-button-primary:focus {
  box-shadow: none !important;
  transform: translateY(0.1rem);
  transition-duration: 0.5s;
}

.fc-button-active:focus {
  box-shadow: none !important;
  transform: translateY(0.1rem);
}

/* ＝＝＝イベント詳細表示＝＝＝ */
.eventInfo-container {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.2rem #000000;
  text-align: center;
  z-index: -1;
}

.eventTitle {
  padding: 1rem 0 0.5rem;
}

.eventDate {
  height: 3rem;
  margin-bottom: 1rem;
}

.eventInfo-btnContainer svg {
  font-size: 2.2rem;
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 1.5rem;
  box-shadow: 0 0 0.2rem #000000;
}

/* イベント削除確認フォーム */
.confirmDelete-container {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 20%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  text-align: center;
  z-index: -30;
}

.confirmDelete-container button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 0.2rem #000000;
}

/* ========イベント追加フォーム・編集フォーム========== */
.eventForm-wrapper,
.eventEdit-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 90%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.2rem #000000;
  background-color: var(--light-opacity-color);
  text-align: center;
  transition-duration: 1s;
  z-index: -1;
}

.eventForm-wrapper .close-btn,
.eventEdit-wrapper .close-btn {
  font-size: 2rem;
}

.eventForm-wrapper h3,
.eventEdit-wrapper h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.5rem 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-container {
  height: 6rem;
  display: flex;
  justify-content: center;
}

.startPicker p {
  color: rgb(211, 47, 47);
  font-size: 12px;
  font-weight: 400;
}

.timePicker {
  margin-left: 1rem !important;
}

.textField {
  height: 6rem;
}

.radioGroup {
  justify-content: space-between !important;
  background-color: #afafaf;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0 0 0.5rem #afafaf;
  height: 2.5rem;
  padding-left: 30px;
}

.submit-btn {
  width: 40%;
  padding: 0.5rem;
  font-size: 1.1rem;
  background-color: var(--medium-light-opacity-color);
  color: white;
  border: var(--medium-dark-opacity-color) solid 0.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 2rem;
  box-shadow: 0 0.2rem #777777;
  transition-property: box-shadow;
}

.submit-btn:hover {
  background-color: var(--medium-dark-opacity-color);
}

.submit-btn:active {
  box-shadow: none;
  transform: translateY(0.2rem);
}
