* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

:root {
  /* font用固定 */
  --font-gray-color: rgb(80, 80, 80);

  /* テーマカラー用 */
  /* 濃い色 */
  --dark-color: rgba(30, 30, 30, 0);
  --dark-opacity-color: rgba(30, 30, 30, 0);
  /* やや濃い色透明 */
  --medium-dark-opacity-color: rgba(100, 100, 100, 0);
  /* やや薄い色 */
  --medium-light-color: rgba(150, 150, 150, 0);
  --medium-light-opacity-color: rgba(150, 150, 150, 0);
  /* 薄い色 */
  --light-color: rgba(200, 200, 200, 0);
  --light-opacity-color: rgba(200, 200, 200, 0);
  /* テーマに合わせたフォント色 */
  --theme-font-color: rgba(255, 255, 255, 0);

  /* フォント選択カラー */
  --select-font-color: rgb(255, 255, 255, 0);

  /* 背景カラー */
  --gradient-left: rgb(250, 250, 250);
  --gradient-right: rgb(250, 250, 250);
}

.app {
  background: linear-gradient(
    -20deg,
    var(--gradient-right) 0%,
    var(--gradient-left) 100%
  );
}

.main-wrapper {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.left-wrapper {
  width: 45%;
}

.right-wrapper {
  width: 53.5%;
}

/* ＝＝＝左上＝＝＝ */
.left-top {
  height: 16%;
  position: relative;
}

/* 今日の日付 */
.today {
  width: 40%;
  padding-top: 0.5rem;
  color: var(--select-font-color);
  font-style: italic;
  font-size: 1.1rem;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 10%;
}

.today p {
  font-size: 1.5rem;
}

/* ＝＝＝linkページ共通＝＝＝ */
.link-page {
  height: 84%;
  color: var(--select-font-color);
}

/* ＝＝＝右上＝＝＝ */
.right-top {
  width: 100%;
  height: 10%;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.openPage-container {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.right-top button,
.right-top a {
  background-color: var(--light-opacity-color);
  color: var(--font-gray-color);
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 0 0.5rem #000000;
}

.right-top button svg,
.right-top a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right-top button:hover,
.right-top a:hover {
  background-color: var(--medium-light-opacity-color);
  color: #000;
}

/* 別ウィンドウで開く公式ページ */
.right-top .openPage-container button {
  background-color: #ffffffcb;
  font-family: "Courgette", cursive;
  font-size: 1.2rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  width: 10rem;
  height: 70%;
  transform: skew(-20deg);
  box-shadow: 0 0 0.5rem #ffffff;
}

/* ＝＝＝全ページ共通CSS＝＝＝ */
/* 半透明にする */
.opacity-low {
  opacity: 0.5;
  transition-duration: 1s;
}

/* コンテナを最前面に */
.visible {
  z-index: 10 !important;
  transition-duration: 1s !important;
}

/* コンテナを最背面に */
.display-none {
  z-index: -10 !important;
  transition-duration: 1s !important;
}

/* 右上に閉じるボタン置きたいときの2点セット */
.position-relative {
  position: relative;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

/* ========天気======== */
/* .weather {
  color: #fff;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.weather a {
  text-decoration: none;
  color: #fff;
  background-color: #9becf1af;
  border-radius: 1rem;
  padding: 0.3rem;
  width: 15%;
  text-align: center;
}

.forecast {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 15%;
  background-color: #9becf1af;
}

.forecast p {
  width: 100%;
}

.forecast-bar .time {
  font-size: 0.8rem;
} */
