* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.main-wrapper {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0 0.5rem 1rem;
}

.left-wrapper {
  width: 45%;
}

.right-wrapper {
  width: 55%;
}

/* =======左上======= */
.left-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: 16%;
}

/* 今日の日付 */
.today {
  width: 40%;
}

.today {
  color: #fff;
}

.today p {
  font-size: 1.5rem;
}

/* 今日の予定 */
.today-list {
  width: 50%;
  height: 100%;
}

.fc {
  height: 100%;
}

.fc .fc-list-table td {
  border: none;
  padding: 0 0.5rem 0;
}

.fc-theme-standard .fc-list {
  border: none;
}

.fc-list-day {
  display: none;
}

tr.fc-event.fc-event-start.fc-event-end.fc-event-today.fc-event-future.fc-list-event {
  color: #fff;
}

:root {
  --fc-list-event-hover-bg-color: none;
}

/* 予定がないときの表示 */
.noEventInfo {
  color: #fff;
  font-size: large;
}
.fc .fc-list-empty {
  background-color: #ffffff00;
  justify-content: left;
}

/* ======linkページ共通 */
.link-page {
  height: 84%;
  color: #fff;
}

/* ======右上========== */
.right-top {
  display: flex;
  height: 7%;
  margin-bottom: 0.3rem;
}

/* ========天気======== */
.weather {
  color: #fff;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.weather a {
  text-decoration: none;
  color: #fff;
  background-color: #9becf1af;
  border-radius: 1rem;
  padding: 0.3rem;
  width: 15%;
  text-align: center;
}

.forecast {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 15%;
  background-color: #9becf1af;
}

.forecast p {
  width: 100%;
}

.forecast-bar .time {
  font-size: 0.8rem;
}

/* ========設定バー========== */
.icon {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-around;
}

.icon button,
.icon a {
  background-color: rgba(252, 236, 250, 0.692);
  color: rgb(81, 79, 79);
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}

.icon button svg,
.icon a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon button:hover,
.icon a:hover {
  background-color: #c49ff1;
  color: #000;
}

/* ========カレンダー本体======== */
.calender {
  position: relative;
  height: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  opacity: 0.5;
  transition-duration: 1s;
}

.visible {
  z-index: 10 !important;
  transition-duration: 1s !important;
}

.display-none {
  z-index: -10;
}
